/* Top bar */

.topbar {
    width: 100%;
    background-color: #EAEAE0;
    padding-bottom: 3%;
}

/* Styling af navigationspil */
.topbar img {
    width: 30px;
    float: left;
    margin: 20px 0px 0px 20px;
}

.topbar p {
    text-align: left;
}

#kate-soeg {
    -webkit-appearance: none;
    margin: 1em auto;
    width: 100%;
    max-width: 350px;
    padding: 15px 15px;
    box-sizing: border-box;
    display: block;
    border: 0;
    background: #fff;
    border-radius: 10px;
}


#categories {
    display: grid;
    background-color:#F5F6F8;
    grid-template-columns: 50% 50%;
    padding: 10px;
    grid-row-gap: 2em;
    padding-bottom: 100px;
}

section #hej {
    background-color: #F5F6F8;
    padding-top: 5px;
    border-radius: 50px;
}


#categories>article {
    text-align: center;
    padding: 10px;
}

#categories>article img {
    max-width: 300px;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 10px;
}

#categories>article a {
    text-decoration: none;
}

#kategorier p {
    margin-left: 6%;
    margin-top: 5px;
    font-size: 20px;
}

#kategorier h1{
    text-align: left;
    margin-left: 6%;
}

#kategorier h3 {
    margin-top: -90px;
    color: white;
}

