/* Top bar */

.res-topbar {
    width: 100%;
    background-color: #EAEAE0;
    padding-bottom: 40%;
}

/* Styling af navigationspil */
.res-topbar img {
    width: 40px;
    float: left;
    margin: 20px 0px 0px 20px;
}

.res-topbar p {
    text-align: left;
}

#restaurants {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: -130px;
}

#restaurants>article {
    text-align: center;
    padding: 10px;
}

#restaurants>article img {
    max-width: 300px;
    width: 100%;
    margin-bottom: 1em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#restauranter {
    margin-bottom: 20%;
}

#restauranter p {
    margin-left: 6%;
}

#restauranter h1 {
    text-align: left;
    margin-left: 6%;
}

#restauranter h3 {
    background-color: white;
    padding: 20px;
    margin: 0px 17px 0px 18px;
    margin-top: -22px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: left;
}