/* Top bar */

.topbar {
    width: 100%;
    background-color: #EAEAE0;
    padding-bottom: 5%;
}

/* Styling af navigationspil */
.topbar img {
    width: 40px;
    float: left;
    margin: 20px 0px 0px 20px;
}

.topbar p {
    text-align: left;
}

#restaurants {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px;
    grid-row-gap: 2em;
}

#restaurants>article {
    text-align: center;
    padding: 10px;
}

#restaurants>article img {
    max-width: 300px;
    width: 100%;
    margin-bottom: 1em;
    border-radius: 10px;
}

#restauranter {
    margin-bottom: 30%;
}

#restauranter p {
    margin-left: 6%;
}

#restauranter h1 {
    text-align: left;
    margin-left: 6%;
}

#restauranter h3 {
    margin-top: -90px;
}